<br>
<br>
<div class="container-fluid"style="background-color: #f2f2f2;">
    <p style="padding-top:40px; margin-left:113px"><strong>Browse by city</strong></p>
    <div class="row">
            <div class="col-sm-1" style="background-color: #f2f2f2;"></div>
            <div class="col-sm-2" style="background-color: #f2f2f2;">
              England
            </div>
            <div class="col-sm-2" style="background-color: #f2f2f2;">
                    Edinburgh    
            </div>
            <div class="col-sm-2" style="background-color: #f2f2f2">
                    Glasgow    
            </div><div class="col-sm-3" style="background-color: #f2f2f2">
                    Birmingham    
            </div>

          </div>
          <br>
          <div style="margin-left:-10px"class="container-fluid">
              <div class="row">

                <div class="col-sm-1"></div>
                <div class="col-sm-2">Leeds</div>
                <div class="col-sm-2">Manchester</div>
                <div style="margin-left:8px"class="col-sm-2">Liverpool</div>
                <div  style="margin-left:2px"class="col-sm-2">Bristol</div>
                
              </div>

<br>
<br>
          </div>
            </div>
           