<br>
<br>
<div class="container-fluid"style="background-color: #f2f2f2;">
    <p class="font-size:3vw text-center"style="padding-top:40px;"><strong>Browse by cities</strong></p>
    <br />
<br />    <div class="row">
            <div class="col-sm-1" style="background-color: #f2f2f2;"></div>
            <div class="col-sm-2" style="background-color: #f2f2f2;">
              England
            </div>
            <div class="col-sm-2" style="background-color: #f2f2f2;">
                    Edinburgh    
            </div>
            <div class="col-sm-2" style="background-color: #f2f2f2">
                    Glasgow    
            </div><div class="col-sm-3" style="background-color: #f2f2f2">
                    Birmingham    
            </div>

          </div>
          <br>
          <div style="margin-left:-10px"class="container-fluid">
              <div class="row">

                <div class="col-sm-1"></div>
                <div class="col-sm-2">Leeds</div>
                <div class="col-sm-2">Manchester</div>
                
                 </div>

<br>
<br>
          </div>
            </div>
           