
@{
    ViewBag.Title = "Business --- TREATWELL : : . .";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style>

    html, body {
        font-size: 17px
    }
</style>
<body>
    <div class="container-fluid">
        <div class="row">
            <div style="padding: 0px !important" class="col-md-12">
                <a href="#">
                    <img class="img-fluid img-responsive" src="~/CientApp/app/assets/image/twellbus-main.PNG" style="width: 1500px" href=" #" />
                </a>
            </div>
        </div>
    </div>
    <div style="background-color: rgba(245,243,227, 1);">
        <br><br><br>
        <div style="color: #001e62;


    font-size:3vw;
    font-weight: 700;

    line-height: 1.11;

    " class="text-center"><span style=" margin-right: 110px;font-family:numans">Talk to our team </span><br><span style="margin-left: 100px;font-family:numans">of experts today</span></div>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div style="margin-left:60px" class="col-md-05">
                    <h3 style="color: #001e62;"> About the Salon</h3>
                    <br>
                    <form>
                        <div class="form-group">
                            <label class="medium" style="color: #666" for="formGroupExampleInput">Business name</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="medium" style="color: #666" for="inputbusiness">Type of Business</label>
                                <select id="inputSbusiness" class="form-control">
                                    <option selected disabled>Choose the type</option>
                                    <option>Hair Salon</option>
                                    <option>Nail Salon</option>
                                    <option>Waxing Salon</option>
                                    <option>Barbershop</option>
                                    <option>Brow Bar</option>
                                    <option>Massage & Therapy</option>
                                    <option>Spa</option>
                                    <option>Mobile Business</option>
                                </select>
                            </div>
                            <div class="col">
                                <label class="medium" style="color: #666" for="inputemp">Employess</label>
                                <select id="inputemp" class="form-control">
                                    <option selected disabled>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8+</option>
                                </select>
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                            <label class="medium" style="color: #666" for="formGroupExampleInput">Street</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="formGroupExampleInput">Post code</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                                </div>
                            </div>

                            <div class="col">
                                <label class="medium" style="color: #666" for="inputemp">City</label>
                                <select id="inputemp" class="form-control">
                                    <option selected disabled>Choose your city</option>
                                    <option>Greater London</option>
                                    <option>Greater Manchester</option>
                                    <option>Leeds</option>
                                    <option>Edinburgh</option>
                                    <option>Glasgow</option>
                                    <option>Bristol</option>
                                    <option>Brighton</option>
                                    <option>others</option>
                                </select>
                            </div>


                        </div>

                        <div class="form-group">
                            <label class="medium" style="color: #666" for="formGroupExampleInput">Website\Social</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                        </div>
                    </form>



                </div>
                <div style="margin-left:40px" class="col-md-01"></div>
                <div class="col-md-05">
                    <h3 style="color: #001e62;"> About You</h3>
                    <br>
                    <div class="row">
                        <div class="col">

                            <div class="form-group">
                                <label class="medium" style="color: #666" for="formGroupExampleInput">First Name</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                            </div>
                        </div>

                        <div class="col">

                            <div class="form-group">
                                <label class="medium" style="color: #666" for="formGroupExampleInput">Last Name</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="medium" style="color: #666" for="formGroupExampleInput">Email Adress</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="example@abc.com">
                    </div>
                    <label for="validationDefault01">Contact</label>
                    <input style="margin-top: 8px;" type="text" class="form-control" id="validationDefault01" placeholder="Number" value="+42" required>
                    <br>
                    <input type="button" class="btn btn-primary float-right" value="Request Demo">
                </div>

            </div>
            <br>
            <br>
            <div class="container">
                <p style="text-align: center;color: #4a4a49;padding-right: 38px;

margin-left: 27px;">
                    <span style="font-size: 16px; font-family:numans">
                        Fill out your details above and one of our team will be in touch for a free consultation. No strings attached, just a chat to find out how Treatwell could bring you more clients, managed easily.<br>
                        Please note, we are not accepting new applications for mobile or home based businesses at this time.
                    </span>
                </p>
            </div>
            <br>
            <br>
        </div>
    </div>
    <div class="container">
        <h2 class="text-center " style="font-size: 36px;

line-height: 42px;

text-align: center;

margin: 80px 0 76px;

padding: 0;color: #001e62;

font-weight: 700;
font-family:numans;
">

            We'll bring you new customers and the tools to keep them coming back - again and again.
        </h2>

        <h3 class="text-center" style=" color: #001e62;"><strong>It's as easy as this:</strong></h3>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <img style="margin-left: 128px;" class="img-fluid img-responsive" src="~/CientApp/app/assets/image/hand.PNG">
                <h3 style="color: #001e62; margin-left:68px">Get more bookings</h3>
                <h5 style="color: #001e62;">‘I love an empty Tuesday’ said no one, ever.</h5>
            </div>

            <div style="margin-left: 95px; margin-top: 8px;" class="col-md-5">
                <img style="margin-left: 56px;" class="img-fluid img-responsive" src="~/CientApp/app/assets/image/laptop.PNG">
                <h3 style="color: #001e62;">...and more regulars</h3>
                <h5 style="color: #001e62;">The ones who are pretty much pals</h5>
            </div>
        </div>

    </div>

    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <img style="margin-left: 128px;" class="img-fluid img-responsive" src="~/CientApp/app/assets/image/lady.PNG">
                <h3 style="color: #001e62; margin-left:68px">Reduce your no-shows</h3>
                <h5 style="color: #001e62;">No more ‘Where ARE you?' moments</h5>
            </div>

            <div style="margin-left: 95px; margin-top: 8px;" class="col-md-5">
                <img style="margin-left: 56px;" class="img-fluid img-responsive" src="~/CientApp/app/assets/image/hand.PNG">
                <h3 style="color: #001e62;">...with an easy-to-use system</h3>
                <h5 style="color: #001e62;">Say hello to appointments on the go</h5>
            </div>
        </div>

    </div>
    <br>
    <div class="container">
        <br>
        <br>
        <input type="button" value="Learn more here" class="btn btn-dark  btn-lg btn-block">
    </div>

    <br>
    <br>
    <div style="background-color: rgba(245,243,227, 1);">
        <h2 style="color: #001e62; padding-top:48px" class="text-center">It's a numbers game</h2>
        <div class="container">

            <div class="row">

                <div class="col-md-5">
                    <img class="img-fluid img-responsive" src="~/CientApp/app/assets/image/t-wellpic.PNG">

                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <br>
                    <h2 style="color: #001e62;margin-top: 64px ">
                        44%
                    </h2>
                    <h4 style="color: #001e62;">
                        The average increase in bookings you could expect to see in the first year.
                    </h4>


                    <h2 style="color: #001e62;margin-top: 64px ">
                        Every 1.5 seconds
                    </h2>
                    <h5 style="color: #001e62;">
                        A customer is connected to a salon through Treatwell.
                    </h5>

                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2 style="color: #001e62;margin-top: 64px ">
                        45%
                    </h2>
                    <h4 style="color: #001e62;">
                        of bookings are made outside business hours.
                    </h4>
                    <h2 style="color: #001e62;margin-top: 64px ">
                        4.8/5
                    </h2>
                    <h5 style="color: #001e62;">
                        The App store rating of our spa & salon software, Connect.
                    </h5>
                    <br>
                    <br><br>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <img class="img-fluid img-responsive" src="~/CientApp/app/assets/image/twell-pic2.PNG">

                </div>
            </div>

        </div>
    </div>

    <h1 style="color: #001e62; font-size: 3vw;

font-weight: 700;

line-height: 1.05;

margin-bottom: 8px;
margin-top:63px" class="text-center">
        Don’t just take<br>
        <span style="margin-left: 100px;">our word for it…</span>
    </h1>

    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class=" img-fluid img-responsive rounded " src="~/CientApp/app/assets/image/twellbus.jpg">
                <br>
                <br>
                <p class="text-center" style="font-size: 16px;font-weight:lighter; font-family: numans; line-height: 1.42857143; color: #666">
                    <strong>
                        "Treatwell has helped drive business and boost our online presence -
                        which in turn has attracted new clients."
                    </strong>
                </p>
                <br>
                <p style="color: #001e62; font-family: numans ; margin-left: 43px;"><strong>Raju Raymond at Headmasters</strong></p>

            </div>
            <div class="col-md-4">
                <img class=" img-fluid img-responsive rounded " src="~/CientApp/app/assets/image/twellbus2.jpg">
                <br>
                <br>
                <p class="text-center"
                   style="font-size: 16px;font-weight:lighter; font-family: numans; line-height: 1.42857143; color: #666">
                    <strong>
                        "The reason this platform works so well is that it has been developed with lots of feedback from salon owners,
                        so it’s been designed to give us exactly what we want."
                    </strong>
                </p>
                <br>
                <p style="color: #001e62; font-family: numans ; margin-left: 43px;"><strong>Jason at Gravity (Notting Hill)</strong></p>

            </div>
            <div class="col-md-4">
                <img class=" img-fluid img-responsive rounded" src="~/CientApp/app/assets/image/twellbus3.jpg">
                <br>
                <br>
                <p class="text-center" style="font-size: 16px;font-weight:lighter; font-family: numans; line-height: 1.42857143; color: #666">
                    <strong>
                        "I constantly get amazing feedback from my customers about the text and email reminders,
                        and how easy the app is to rebook!"."
                    </strong>
                </p>
                <br>
                <p style="color: #001e62; font-family: numans ; margin-left: 43px;"><strong>Megan Kelly at MK Massage</strong></p>

            </div>

        </div>
    </div>




    <div style="background-color: rgba(245,243,227, 1);">
        <br><br><br>
        <div style="color: #001e62;


                            font-size:3vw;
                            font-weight: 700;

                            line-height: 1.11;

                            " class="text-center"><span style=" margin-right: 110px;font-family:numans">Talk to our team </span><br><span style="margin-left: 100px;font-family:numans">of experts today</span></div>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div style="margin-left:60px" class="col-md-05">
                    <h3 style="color: #001e62;"> About the Salon</h3>
                    <br>
                    <form>
                        <div class="form-group">
                            <label class="medium" style="color: #666" for="formGroupExampleInput">Business name</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="medium" style="color: #666" for="inputbusiness">Type of Business</label>
                                <select id="inputSbusiness" class="form-control">
                                    <option selected disabled>Choose the type</option>
                                    <option>Hair Salon</option>
                                    <option>Nail Salon</option>
                                    <option>Waxing Salon</option>
                                    <option>Barbershop</option>
                                    <option>Brow Bar</option>
                                    <option>Massage & Therapy</option>
                                    <option>Spa</option>
                                    <option>Mobile Business</option>
                                </select>
                            </div>
                            <div class="col">
                                <label class="medium" style="color: #666" for="inputemp">Employess</label>
                                <select id="inputemp" class="form-control">
                                    <option selected disabled>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8+</option>
                                </select>
                            </div>
                        </div>
                        <br>

                        <div class="form-group">
                            <label class="medium" style="color: #666" for="formGroupExampleInput">Street</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="formGroupExampleInput">Post code</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                                </div>
                            </div>

                            <div class="col">
                                <label class="medium" style="color: #666" for="inputemp">City</label>
                                <select id="inputemp" class="form-control">
                                    <option selected disabled>Choose your city</option>
                                    <option>Greater London</option>
                                    <option>Greater Manchester</option>
                                    <option>Leeds</option>
                                    <option>Edinburgh</option>
                                    <option>Glasgow</option>
                                    <option>Bristol</option>
                                    <option>Brighton</option>
                                    <option>others</option>
                                </select>
                            </div>


                        </div>

                        <div class="form-group">
                            <label class="medium" style="color: #666" for="formGroupExampleInput">Website\Social</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                        </div>
                    </form>



                </div>
                <div style="margin-left:40px" class="col-md-01"></div>
                <div class="col-md-05">
                    <h3 style="color: #001e62;"> About You</h3>
                    <br>
                    <div class="row">
                        <div class="col">

                            <div class="form-group">
                                <label class="medium" style="color: #666" for="formGroupExampleInput">First Name</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                            </div>
                        </div>

                        <div class="col">

                            <div class="form-group">
                                <label class="medium" style="color: #666" for="formGroupExampleInput">Last Name</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="medium" style="color: #666" for="formGroupExampleInput">Email Adress</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="example@abc.com">
                    </div>
                    <label for="validationDefault01">Contact</label>
                    <input style="margin-top: 8px;" type="text" class="form-control" id="validationDefault01" placeholder="Number" value="+42" required>
                    <br>
                    <input type="button" class="btn btn-primary float-right" value="Request Demo">
                </div>

            </div>
            <br>
            <br>
            <div class="container">
                <p style="text-align: center;color: #4a4a49;padding-right: 38px;

                        margin-left: 27px;">
                    <span style="font-size: 16px; font-family:numans">
                        Fill out your details above and one of our team will be in touch for a free consultation. No strings attached, just a chat to find out how Treatwell could bring you more clients, managed easily.<br>
                        Please note, we are not accepting new applications for mobile or home based businesses at this time.
                    </span>
                </p>
            </div>
            <br>
            <br>
        </div>
    </div>
    @{
        Html.RenderPartial("_Footer");
    }

</body>