@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff2", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        @Html.ActionLink(User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
}
else
{
    <a onclick="@("window.location.href='"+ Url.Action("Index","SignIn") +"'");" class="small" style="color: #ff5c39; text-decoration:unset; font-family:numans">Sign In</a>
}

