
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Index</h2>
<div ng-app="myapp">
    *<div ng-controller="app2Controller">
        name :  {{employee.fullName}}
    </div>
</div>

<h2>Index</h2>
<script src="~/Scripts/angular.min.js"></script>

<script src="~/Scripts/AngularFiles/employeeprofile.js"></script>