
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Numans">
<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Numans">
<style>

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #bfbbbb !important;
    }

    .MenuItem--header--539c18 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 12px 0;
        font-size: 16px;
        width: 100%;
    }

    .MenuItem--description--afb2af {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        margin-right: 12px;
    }

    .col-centered {
        float: none;
        margin: 0 auto;
    }

    .carousel-control {
        width: 8%;
        width: 0px;
    }

        .carousel-control.left,
        .carousel-control.right {
            margin-right: 40px;
            margin-left: 32px;
            background-image: none;
            opacity: 1;
        }

        .carousel-control > a > span {
            color: white;
            font-size: 29px !important;
        }

    .carousel-col {
        position: relative;
        min-height: 1px;
        padding: 5px;
        float: left;
    }

    .active > div {
        display: none;
    }

        .active > div:first-child {
            display: block;
        }

    /*xs*/
    @@media (max-width: 767px) {
        .carousel-inner .active.left {
            left: -50%;
        }

        .carousel-inner .active.right {
            left: 50%;
        }

        .carousel-inner .next {
            left: 50%;
        }

        .carousel-inner .prev {
            left: -50%;
        }

        .carousel-col {
            width: 50%;
        }

        .active > div:first-child + div {
            display: block;
        }
    }

    /*sm*/
    @@media (min-width: 768px) and (max-width: 991px) {
        .carousel-inner .active.left {
            left: -50%;
        }

        .carousel-inner .active.right {
            left: 50%;
        }

        .carousel-inner .next {
            left: 50%;
        }

        .carousel-inner .prev {
            left: -50%;
        }

        .carousel-col {
            width: 50%;
        }

        .active > div:first-child + div {
            display: block;
        }
    }

    /*md*/
    @@media (min-width: 992px) and (max-width: 1199px) {
        .carousel-inner .active.left {
            left: -33%;
        }

        .carousel-inner .active.right {
            left: 33%;
        }

        .carousel-inner .next {
            left: 33%;
        }

        .carousel-inner .prev {
            left: -33%;
        }

        .carousel-col {
            width: 33%;
        }

        .active > div:first-child + div {
            display: block;
        }

            .active > div:first-child + div + div {
                display: block;
            }
    }

    /*lg*/
    @@media (min-width: 1200px) {
        .carousel-inner .active.left {
            left: -25%;
        }

        .carousel-inner .active.right {
            left: 25%;
        }

        .carousel-inner .next {
            left: 25%;
        }

        .carousel-inner .prev {
            left: -25%;
        }

        .carousel-col {
            width: 86px;
        }

        .active > div:first-child + div {
            display: block;
        }

            .active > div:first-child + div + div {
                display: block;
            }

                .active > div:first-child + div + div + div {
                    display: block;
                }
    }

    .block {
        width: 306px;
        height: 230px;
    }
</style>
<div ng-app="myapp">
    <div ng-controller="app2Controller">
        <div class="container">
            <div class="row">
                <div class="col-xs-11 col-md-10 col-centered">

                    <div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="2500">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="carousel-col">
                                    <div class=" img-responsive">
                                        <img src="https://cdn1.treatwell.net/images/view/v2.i1812619.w720.h480.x0722FEED/" />

                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-col">
                                    <div class="img-responsive">
                                        <img src="https://cdn1.treatwell.net/images/view/v2.i1812621.w720.h480.x0AD2B7AA/" />
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-col">
                                    <div class="img-responsive">
                                        <img src="https://cdn1.treatwell.net/images/view/v2.i1812621.w720.h480.x0AD2B7AA/" />
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-col">
                                    <div class="img-responsive">
                                        <img src="https://cdn1.treatwell.net/images/view/v2.i1812621.w720.h480.x0AD2B7AA/" />
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-col">
                                    <div class="img-responsive">
                                        <img src="https://cdn1.treatwell.net/images/view/v2.i1812621.w720.h480.x0AD2B7AA/" />
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-col">
                                    <div class="img-responsive">
                                        <img src="https://cdn1.treatwell.net/images/view/v2.i1812621.w720.h480.x0AD2B7AA/" />
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-col">
                                    <div class="img-responsive">
                                        <img src="https://cdn1.treatwell.net/images/view/v2.i1812621.w720.h480.x0AD2B7AA/" />
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-col">
                                    <div class=" img-responsive">
                                        <img src="https://cdn1.treatwell.net/images/view/v2.i1473104.w720.h480.x48EC2446/" />
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-col">
                                    <div class=" img-responsive">
                                        <img src="https://cdn1.treatwell.net/images/view/v2.i853462.w720.h480.x4C9700EF/" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <img style="width:100%" src="~/Images/line2.PNG" />


                        <!-- Controls -->
                        <div class="left carousel-control">
                            <a href="#carousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </div>
                        <div class="right carousel-control">
                            <a href="#carousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">About</button>
                        <button type="button" class="btn btn-primary">Bookings</button>
                        <button type="button" class="btn btn-primary">Reviews</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div style="background-color :#fbfbfb;   margin-top:2% ;" class="row">
                <div style="font-family:numans;  " class="col-lg-5">

                  

                    <h1 style="font-family:numans; color: #847b7b;"><strong>{{venue.venues.venueName}} </strong></h1>
                    <p style="font-family:numans">{{venue.venues.address}} {{venue.venues.street}} {{venue.venues.sector}}, {{venue.venues.city.cityName}} {{venue.venues.city.postalCode}}</p>

                </div>
                <div style="margin-top:3%; margin-left: 16%;" class="col-lg-5">
                    <span style="color: #cb6; margin-right:5px; font-size:24px">5.0</span>
                    <span style="color: #cb6; font-size:20px" class="fa fa-star checked"></span>
                    <span style="color: #cb6; font-size:20px" class="fa fa-star checked"></span>
                    <span style="color: #cb6; font-size:20px" class="fa fa-star checked"></span>
                    <span style="color: #cb6; font-size:20px" class="fa fa-star checked"></span>
                    <span style="color: #cb6; font-size:20px" class="fa fa-star checked"></span>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1 style="color:#908484;
    margin: 12px 0;font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px; font-family:numans;
    margin-top: 15%;

">
                        <strong>   MATCHING YOUR SEARCH </strong>
                    </h1>
                </div>
                <div class="col-md-7">

                    <div style="  ">
                        <h5 style="font-family:numans; margin-top:11%">Ladies - Wash, Haircut &amp; Blow Dry</h5>
                        <div>
                            <span style="font-family:numans; color: #001e62;">Show Details</span> <br />
                            <h5 style=" font-family:numans;">
                                Senior Director <span style="margin-left:40%">
                                    from Rs 25 <button style="margin-left:4%" id="swapFire" class="btn btn-danger showFire">
                                        <span class="glyphicon glyphicon-fire"></span> Select
                                    </button>
                                </span><br />

                            </h5>
                            <h6 style=" font-family:numans;     color: #908c94;">45 mints</h6>
                            <hr />
                            <h5 style=" font-family:numans;">
                                Direct Director <span style="margin-left:40%">
                                    from Rs 25 <button style="margin-left:4%" id="swapFire" class="btn btn-danger showFire">
                                        <span class="glyphicon glyphicon-fire"></span> Select
                                    </button>
                                </span><br />
                            </h5>
                            <h6 style=" font-family:numans;    color: #908c94;">5 mints</h6>
                            <hr />

                            <h5 style=" font-family:numans;">
                                Salon Director <span style="margin-left:40%">
                                    from Rs 50 <button style="margin-left:4%" id="swapFire" class="btn btn-danger showFire">
                                        <span class="glyphicon glyphicon-fire"></span> Select
                                    </button>
                                </span><br />
                            </h5>
                            <h6 style=" font-family:numans;">50 mints</h6>



                        </div>

                    </div>

                </div>
                <hr />
                @*<div style="background-color:#fbfbfb; padding: 4%; display: flex;" class="container">
                    <div class="TreatmentTypeBar--barContainer--2c57ee HorizontalOverflowHint--scroll--71ec97"><div style="margin-right:16px"><div class="TreatmentTypeButton--panel--7758a2 TreatmentTypeButton--inactive--f7515d" data-treatment-type-id="0"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g fill="none" fill-rule="evenodd"><path d="M0 0h48v48H0z"></path><path fill="#999" fill-rule="nonzero" d="M10 15a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM24 15a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM38 15a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM10 29a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM24 29a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM38 29a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM10 43a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM24 43a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM38 43a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path></g></svg><span class="TreatmentTypeButton--name--0afc5e">All</span></div></div><div style="margin-right:16px"><div class="TreatmentTypeButton--panel--7758a2 TreatmentTypeButton--active--3163ec" data-treatment-type-id="6"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g fill="none" fill-rule="evenodd"><path d="M0 0h48v48H0z"></path><path fill="#001e62" fill-rule="nonzero" d="M20 33a6 6 0 1 1-6 6V29c-1.782-.842-3.007-1.593-3.707-2.293L10 26.414V26c0-12.273 2.503-23 5-23 2.666 0 5 9.336 5 23v7zm-4.587-5.55l.587.266V39a4 4 0 1 0 3.199-3.92L18 35.323V26c0-7.12-.595-12.757-1.595-16.757-.39-1.56-.824-2.782-1.246-3.595a6.15 6.15 0 0 0-.1-.186c-.06.121-.124.257-.189.406-.426.978-.871 2.395-1.271 4.11-.974 4.172-1.57 9.518-1.598 15.575.65.52 1.795 1.164 3.412 1.897z"></path><path fill="#001e62" fill-rule="nonzero" d="M10 33a6 6 0 1 0 3.6 10.8 7.99 7.99 0 0 1-1.002-1.759 4 4 0 1 1-1.797-6.961l1.199.243v-5.082a17.609 17.609 0 0 1-2-1.192V33zM25 5h10c5.57 0 7 1.716 7 9 0 3.269-.424 5.67-1.465 9.487l-.372 1.359c-.141.52-.253.946-.355 1.356C39.264 28.377 39 30.118 39 32c0 1.156.057 2.171.2 4.012.252 3.233.275 4.315.015 5.382C38.937 42.534 38.358 43 37 43c-3.383 0-4.229-2.962-3.03-7.757.088-.35.195-.741.34-1.245l.41-1.398c.17-.58.298-1.038.417-1.484.587-2.214.812-3.82.588-5.14C35.405 24.096 34.125 23 32 23h-7v2h7c1.143 0 1.596.387 1.753 1.311.162.956-.032 2.34-.55 4.293-.113.427-.238.87-.403 1.436-.034.118-.329 1.118-.41 1.402-.152.526-.266.938-.36 1.315C30.562 40.63 31.81 45 37 45c2.29 0 3.664-1.106 4.158-3.132.333-1.365.309-2.516.037-6.012C41.055 34.066 41 33.09 41 32c0-1.696.24-3.283.748-5.313.099-.395.207-.808.346-1.318l.37-1.356C43.55 20.04 44 17.481 44 14c0-8.316-2.237-11-9-11H25v2z"></path><path fill="#001e62" fill-rule="nonzero" d="M25 9h10V7H25zM25 13h11v-2H25zM25 17h11v-2H25zM25 21h11v-2H25z"></path><circle cx="15" cy="23" r="1" fill="#001e62"></circle><circle cx="10" cy="39" r="2" fill="#001e62"></circle><circle cx="20" cy="39" r="2" fill="#001e62"></circle></g></svg><span class="TreatmentTypeButton--name--0afc5e">Hair</span></div></div><div style="margin-right:16px"><div class="TreatmentTypeButton--panel--7758a2 TreatmentTypeButton--inactive--f7515d" data-treatment-type-id="36"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g fill="none" fill-rule="evenodd"><path d="M0 0h48v48H0z"></path><path fill="#999" fill-rule="nonzero" d="M17 24.003v4.929l.383.102C19.959 29.72 21.425 30 23 30v2c-1.77 0-3.344-.294-6-.998V34a1 1 0 0 1-.072.371L15.477 38H19v2h-5a1 1 0 0 1-.928-1.371L15 33.807V30.48c-1.53-.384-2.173-.479-3-.479-1.755 0-3.511.272-5.273.817.058.903.152 1.926.268 3.083.145 1.447.204 2.025.279 2.7C7.987 43.019 7.96 43 16 43c5.262 0 6.485-.15 7.293-.957.843-.843 1.121-2.235 1.712-8.143.902-9.025.482-9.85-8.005-9.897zm-2 0c-6.467.036-8.25.524-8.334 4.746C8.441 28.25 10.22 28 12 28c.935 0 1.618.086 3 .418v-4.415zm-3.995-1.797C12.383 22.053 14.035 22 16 22c10.63 0 12.05 1.549 10.995 12.1-.66 6.592-.943 8.013-2.288 9.357C23.327 44.837 21.988 45 16 45c-8.97 0-9.875-.626-10.714-8.18-.076-.684-.136-1.267-.281-2.72-.755-7.545-.243-10.487 3.997-11.55.033-4.888.607-10.573 1.719-17.057A3 3 0 0 1 13.678 3h4.644a3 3 0 0 1 2.957 2.493c.963 5.613 1.522 10.627 1.677 15.043a20.54 20.54 0 0 0-2.013-.315c-.17-4.226-.714-9.023-1.635-14.39A1 1 0 0 0 18.322 5h-4.644a1 1 0 0 0-.986.831c-1.068 6.226-1.63 11.685-1.687 16.375zM34 24.586l6-6v-4.172l-6 6v4.172zm0 2.828v4.172l6-6v-4.172l-6 6zm0-9.828l6-6V7.414l-6 6v4.172zm0-7l5.394-5.394A3 3 0 0 0 34 7v3.586zM32 41V7a5 5 0 0 1 10 0v19.414l-8 8V41a3 3 0 0 0 6 0v-8.757l2-2V41a5 5 0 0 1-10 0z"></path></g></svg><span class="TreatmentTypeButton--name--0afc5e">Nails</span></div></div><div style="margin-right:16px"><div class="TreatmentTypeButton--panel--7758a2 TreatmentTypeButton--inactive--f7515d" data-treatment-type-id="43"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g fill="none" fill-rule="evenodd"><path d="M0 0h48v48H0z"></path><path fill="#999" fill-rule="nonzero" d="M30 40.078c-2.136.281-4.136.422-6 .422-7.552 0-12.2-1.194-14.681-3.52C7.405 35.187 7 33.442 7 30v-4a3 3 0 0 1 3-3h15.766c-.14.71-.224 1.375-.254 2H10a1 1 0 0 0-1 1v4c0 2.926.301 4.222 1.686 5.52 2.03 1.903 6.222 2.98 13.314 2.98 1.848 0 3.848-.146 6-.44v2.018z"></path><path fill="#999" fill-rule="nonzero" d="M38.236 23.01A3 3 0 0 1 41 26v4c0 4.87-2.385 8.174-7 9.736v1.602a3 3 0 0 1-2.491 2.957c-2.73.47-5.233.705-7.509.705-2.276 0-4.779-.235-7.509-.705a3 3 0 0 1-2.484-2.747c.696.17 1.44.316 2.233.44a.998.998 0 0 0 .59.336c2.624.451 5.014.676 7.17.676 2.156 0 4.546-.225 7.17-.676a1 1 0 0 0 .83-.986v-3.092l.725-.208C36.968 36.826 39 34.214 39 30v-4a1 1 0 0 0-.507-.87c-.023-.66-.11-1.366-.257-2.12zM23 16c1.442 0 2.337-.847 3.324-2.822.142-.283.657-1.377.782-1.625.11-.22.625-1.315.78-1.625.374-.747.759-1.39 1.174-1.928H33c-1.442 0-2.337.847-3.324 2.822-.142.283-.657 1.377-.782 1.625-.11.22-.625 1.315-.78 1.625C26.821 16.654 25.4 18 23 18H8A6 6 0 1 1 8 6h32a6 6 0 1 1 0 12h-3.335a51.663 51.663 0 0 0-.861-2H40a4 4 0 1 0 0-8H8a4 4 0 1 0 0 8h15z"></path><path fill="#999" fill-rule="nonzero" d="M31.106 14.553a1 1 0 0 1 1.788 0C35.292 19.348 36.5 22.972 36.5 25.5c0 2.886-1.614 4.5-4.5 4.5-5.85 0-5.85-5.534-.894-15.447zM32 28c1.781 0 2.5-.719 2.5-2.5 0-1.837-.83-4.586-2.501-8.2C28.536 24.74 28.774 28 32 28z"></path></g></svg><span class="TreatmentTypeButton--name--0afc5e">Hair removal</span></div></div><div style="margin-right:16px"><div class="TreatmentTypeButton--panel--7758a2 TreatmentTypeButton--inactive--f7515d" data-treatment-type-id="4"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g fill="none" fill-rule="evenodd"><path d="M0 0h48v48H0z"></path><path fill="#999" fill-rule="nonzero" d="M25 35.974c10.029-.52 18-8.816 18-18.974v-1h-2v1c0 9.389-7.611 17-17 17-8.686 0-16.044-6.581-17.006-15.112C6.947 18.49 7.477 18 8 18c1.676 0 2.96-1.022 3.138-2.908C12.042 8.782 17.513 4 24 4c7.18 0 13 5.82 13 13s-5.82 13-13 13a13.005 13.005 0 0 1-12.454-9.259l-.287-.957-1.916.574.287.958A15.005 15.005 0 0 0 24 32c8.284 0 15-6.716 15-15 0-8.284-6.716-15-15-15-7.486 0-13.797 5.516-14.848 12.856C9.072 15.702 8.696 16 8 16c-1.638 0-3.19 1.437-2.993 3.117C6.045 28.325 13.737 35.49 23 35.974V39a3 3 0 0 0 3 3h1c1.849 0 3.776.225 5.257.595.438.11.82.228 1.13.348-.468.158-1.086.311-1.821.45-2.036.38-4.75.607-7.566.607s-5.53-.226-7.566-.608a13.962 13.962 0 0 1-1.82-.449c.31-.12.691-.238 1.129-.348C17.223 42.225 19.15 42 21 42v-2c-4.664 0-9 1.084-9 3 0 2.002 5.32 3 12 3s12-.998 12-3c0-1.916-4.336-3-9-3h-1a1 1 0 0 1-1-1v-3.026z"></path><path fill="#999" fill-rule="nonzero" d="M26.447 10.658l-7.789 3.895.895 1.789 7.789-3.895zM31.447 13.658l-13.789 6.895.895 1.789 13.789-6.895z"></path></g></svg><span class="TreatmentTypeButton--name--0afc5e">Face</span></div></div><div style="margin-right:0px"><div class="TreatmentTypeButton--panel--7758a2 TreatmentTypeButton--inactive--f7515d" data-treatment-type-id="37"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g fill="none" fill-rule="evenodd"><path d="M0 0h48v48H0z"></path><path fill="#999" fill-rule="nonzero" d="M6.099 23.442c.219 3.482.802 9.536 1.749 18.128a1 1 0 0 0 .743.859c1.472.38 2.941.571 4.409.571s2.937-.19 4.409-.571a1 1 0 0 0 .743-.859C19.383 30.396 20 23.515 20 21c0-2.269-1.456-4.307-4.514-6.143l-.451-.27-.6-9.587H17.5a1 1 0 0 1 0 2h-.936l.402 6.421C20.279 15.531 22 18.066 22 21c0 2.273-.466 7.772-1.4 16.544C22.778 38.933 26.456 40 31 40c9.527 0 12.5-1.022 12.5-3 0-1.884-4.231-4-9.5-4-3.05 0-8.954.482-11.01.914.073-.718.142-1.408.207-2.07.932-.156 2.209-.308 3.598-.44C25.573 30.548 25 29.384 25 28c0-2.765 3.438-5 9-5 2.333 0 4-.889 4-2 0-1.26-1.481-2-5-2-1.755 0-3.258.31-4.303.832-.814.407-1.197.86-1.197 1.168 0 .3.139.636.451 1.014-.666.256-1.275.558-1.821.9-.413-.61-.63-1.248-.63-1.914 0-2.183 2.784-3.744 6.54-3.971.063-.701.215-1.36.532-2.15.647-1.62 1.847-3.168 3.834-4.67l1.07 1.67.124-.079c-2.406 1.804-3.31 3.394-3.538 5.167 3.446-.222 5.337-1.563 6.12-3.797.583-1.668.537-3.727.053-6.035l-1.078.163C32.03 8.366 30 9.672 30 15h-2c0-3.645 1.176-6.071 3.488-7.557 1.714-1.102 3.44-1.533 7.372-2.123 1.175-.177 1.443-.218 1.976-.306a1 1 0 0 1 1.134.743c.754 3.017.916 5.738.099 8.073-.663 1.894-1.926 3.316-3.813 4.185C39.396 18.672 40 19.659 40 21c0 1.089-.492 1.976-1.31 2.635 3.061.948 4.81 2.89 4.81 5.365 0 .825-.054 1.445-.249 2.074a14.65 14.65 0 0 0-1.85-.833c.076-.35.099-.73.099-1.241 0-2.246-2.572-4-7.5-4-4.592 0-7 1.565-7 3 0 1.753 1.726 3 7 3 6.231 0 11.5 2.634 11.5 6 0 3.663-3.89 5-14.5 5-4.395 0-8.101-.937-10.633-2.281l-.227 2.07a3 3 0 0 1-2.23 2.576A19.527 19.527 0 0 1 13 45c-1.638 0-3.276-.212-4.91-.635a3 3 0 0 1-2.23-2.576C4.62 30.526 4 23.62 4 21c0-2.934 1.72-5.468 5.034-7.579L9.436 7H8.5a1 1 0 1 1 0-2h3.064l-.599 9.587-.45.27C7.455 16.693 6 18.731 6 21l.003.348C6.813 21.11 7.811 21 9 21c1.417 0 2.383.276 4.371 1.072 1.762.704 2.546.928 3.629.928v2c-1.417 0-2.383-.276-4.371-1.072C10.867 23.224 10.083 23 9 23c-1.364 0-2.333.166-2.901.442z"></path></g></svg><span class="TreatmentTypeButton--name--0afc5e">Massage</span></div></div><div style="height: 1px; min-width: 24px;"></div></div>
                </div>
                <div style="margin-right:16px"><div class="TreatmentTypeButton--panel--7758a2 TreatmentTypeButton--inactive--f7515d" data-treatment-type-id="0"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g fill="none" fill-rule="evenodd"><path d="M0 0h48v48H0z"></path><path fill="#999" fill-rule="nonzero" d="M10 15a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM24 15a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM38 15a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM10 29a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM24 29a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM38 29a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM10 43a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM24 43a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM38 43a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path></g></svg><span class="TreatmentTypeButton--name--0afc5e">All</span></div></div>

                <div style="margin-right:16px">
                    <div class="TreatmentTypeButton--panel--7758a2 TreatmentTypeButton--active--3163ec" data-treatment-type-id="6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g fill="none" fill-rule="evenodd"><path d="M0 0h48v48H0z"></path><path fill="#001e62" fill-rule="nonzero" d="M20 33a6 6 0 1 1-6 6V29c-1.782-.842-3.007-1.593-3.707-2.293L10 26.414V26c0-12.273 2.503-23 5-23 2.666 0 5 9.336 5 23v7zm-4.587-5.55l.587.266V39a4 4 0 1 0 3.199-3.92L18 35.323V26c0-7.12-.595-12.757-1.595-16.757-.39-1.56-.824-2.782-1.246-3.595a6.15 6.15 0 0 0-.1-.186c-.06.121-.124.257-.189.406-.426.978-.871 2.395-1.271 4.11-.974 4.172-1.57 9.518-1.598 15.575.65.52 1.795 1.164 3.412 1.897z"></path><path fill="#001e62" fill-rule="nonzero" d="M10 33a6 6 0 1 0 3.6 10.8 7.99 7.99 0 0 1-1.002-1.759 4 4 0 1 1-1.797-6.961l1.199.243v-5.082a17.609 17.609 0 0 1-2-1.192V33zM25 5h10c5.57 0 7 1.716 7 9 0 3.269-.424 5.67-1.465 9.487l-.372 1.359c-.141.52-.253.946-.355 1.356C39.264 28.377 39 30.118 39 32c0 1.156.057 2.171.2 4.012.252 3.233.275 4.315.015 5.382C38.937 42.534 38.358 43 37 43c-3.383 0-4.229-2.962-3.03-7.757.088-.35.195-.741.34-1.245l.41-1.398c.17-.58.298-1.038.417-1.484.587-2.214.812-3.82.588-5.14C35.405 24.096 34.125 23 32 23h-7v2h7c1.143 0 1.596.387 1.753 1.311.162.956-.032 2.34-.55 4.293-.113.427-.238.87-.403 1.436-.034.118-.329 1.118-.41 1.402-.152.526-.266.938-.36 1.315C30.562 40.63 31.81 45 37 45c2.29 0 3.664-1.106 4.158-3.132.333-1.365.309-2.516.037-6.012C41.055 34.066 41 33.09 41 32c0-1.696.24-3.283.748-5.313.099-.395.207-.808.346-1.318l.37-1.356C43.55 20.04 44 17.481 44 14c0-8.316-2.237-11-9-11H25v2z"></path><path fill="#001e62" fill-rule="nonzero" d="M25 9h10V7H25zM25 13h11v-2H25zM25 17h11v-2H25zM25 21h11v-2H25z"></path><circle cx="15" cy="23" r="1" fill="#001e62"></circle><circle cx="10" cy="39" r="2" fill="#001e62"></circle><circle cx="20" cy="39" r="2" fill="#001e62"></circle></g></svg><span class="TreatmentTypeButton--name--0afc5e">Hair</span>
                    </div>
                </div>
                </div>*@

            <div style="background-color:#fbfbfb; padding: 4%; display: flex;" class="container">

                <div style=" width: 10%" ; class="card">
                    <div class="card-body">
                        <div>
                            <div class="TreatmentTypeButton--panel--7758a2 TreatmentTypeButton--active--3163ec" data-treatment-type-id="6">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" style="margin-left: 16%;">
                                    <g fill="none" fill-rule="evenodd">
                                        <path d="M0 0h48v48H0z"></path>
                                        <path fill="#999" fill-rule="nonzero" d="M10 15a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM24 15a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM38 15a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM10 29a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM24 29a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM38 29a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM10 43a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM24 43a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM38 43a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                    </g>
                                </svg>
                                <span class="TreatmentTypeButton--name--0afc5e" style="margin-left: 39%;">All</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div style=" width: 10% ; margin-left:16px" ; class="card">
                    <div class="card-body">
                        <div>
                            <div class="TreatmentTypeButton--panel--7758a2 TreatmentTypeButton--active--3163ec" data-treatment-type-id="6">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" style="margin-left: 19%;">
                                    <g fill="none" fill-rule="evenodd">
                                        <path d="M0 0h48v48H0z"></path>
                                        <path fill="#001e62"
                                              fill-rule="nonzero" d="M20 33a6 6 0 1 1-6 6V29c-1.782-.842-3.007-1.593-3.707-2.293L10 26.414V26c0-12.273 2.503-23 5-23 2.666 0 5 9.336 5 23v7zm-4.587-5.55l.587.266V39a4 4 0 1 0 3.199-3.92L18 35.323V26c0-7.12-.595-12.757-1.595-16.757-.39-1.56-.824-2.782-1.246-3.595a6.15 6.15 0 0 0-.1-.186c-.06.121-.124.257-.189.406-.426.978-.871 2.395-1.271 4.11-.974 4.172-1.57 9.518-1.598 15.575.65.52 1.795 1.164 3.412 1.897z"></path>
                                        <path fill="#001e62" fill-rule="nonzero" d="M10 33a6 6 0 1 0 3.6 10.8 7.99 7.99 0 0 1-1.002-1.759 4 4 0 1 1-1.797-6.961l1.199.243v-5.082a17.609 17.609 0 0 1-2-1.192V33zM25 5h10c5.57 0 7 1.716 7 9 0 3.269-.424 5.67-1.465 9.487l-.372 1.359c-.141.52-.253.946-.355 1.356C39.264 28.377 39 30.118 39 32c0 1.156.057 2.171.2 4.012.252 3.233.275 4.315.015 5.382C38.937 42.534 38.358 43 37 43c-3.383 0-4.229-2.962-3.03-7.757.088-.35.195-.741.34-1.245l.41-1.398c.17-.58.298-1.038.417-1.484.587-2.214.812-3.82.588-5.14C35.405 24.096 34.125 23 32 23h-7v2h7c1.143 0 1.596.387 1.753 1.311.162.956-.032 2.34-.55 4.293-.113.427-.238.87-.403 1.436-.034.118-.329 1.118-.41 1.402-.152.526-.266.938-.36 1.315C30.562 40.63 31.81 45 37 45c2.29 0 3.664-1.106 4.158-3.132.333-1.365.309-2.516.037-6.012C41.055 34.066 41 33.09 41 32c0-1.696.24-3.283.748-5.313.099-.395.207-.808.346-1.318l.37-1.356C43.55 20.04 44 17.481 44 14c0-8.316-2.237-11-9-11H25v2z"></path>
                                        <path fill="#001e62" fill-rule="nonzero" d="M25 9h10V7H25zM25 13h11v-2H25zM25 17h11v-2H25zM25 21h11v-2H25z"></path>
                                        <circle cx="15" cy="23" r="1" fill="#001e62"></circle>
                                        <circle cx="10" cy="39" r="2" fill="#001e62"></circle>
                                        <circle cx="20" cy="39" r="2" fill="#001e62"></circle>
                                    </g>
                                </svg><span class="TreatmentTypeButton--name--0afc5e" style="margin-left: 32%;">Hair</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div style=" width: 10% ; margin-left:16px" ; class="card">
                    <div class="card-body">
                        <div>
                            <div class="TreatmentTypeButton--panel--7758a2 TreatmentTypeButton--active--3163ec" data-treatment-type-id="6">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"style="
    margin-left: 18%;
" viewBox="0 0 48 48"><g fill="none" fill-rule="evenodd"><path d="M0 0h48v48H0z"></path><path fill="#999" fill-rule="nonzero" d="M17 24.003v4.929l.383.102C19.959 29.72 21.425 30 23 30v2c-1.77 0-3.344-.294-6-.998V34a1 1 0 0 1-.072.371L15.477 38H19v2h-5a1 1 0 0 1-.928-1.371L15 33.807V30.48c-1.53-.384-2.173-.479-3-.479-1.755 0-3.511.272-5.273.817.058.903.152 1.926.268 3.083.145 1.447.204 2.025.279 2.7C7.987 43.019 7.96 43 16 43c5.262 0 6.485-.15 7.293-.957.843-.843 1.121-2.235 1.712-8.143.902-9.025.482-9.85-8.005-9.897zm-2 0c-6.467.036-8.25.524-8.334 4.746C8.441 28.25 10.22 28 12 28c.935 0 1.618.086 3 .418v-4.415zm-3.995-1.797C12.383 22.053 14.035 22 16 22c10.63 0 12.05 1.549 10.995 12.1-.66 6.592-.943 8.013-2.288 9.357C23.327 44.837 21.988 45 16 45c-8.97 0-9.875-.626-10.714-8.18-.076-.684-.136-1.267-.281-2.72-.755-7.545-.243-10.487 3.997-11.55.033-4.888.607-10.573 1.719-17.057A3 3 0 0 1 13.678 3h4.644a3 3 0 0 1 2.957 2.493c.963 5.613 1.522 10.627 1.677 15.043a20.54 20.54 0 0 0-2.013-.315c-.17-4.226-.714-9.023-1.635-14.39A1 1 0 0 0 18.322 5h-4.644a1 1 0 0 0-.986.831c-1.068 6.226-1.63 11.685-1.687 16.375zM34 24.586l6-6v-4.172l-6 6v4.172zm0 2.828v4.172l6-6v-4.172l-6 6zm0-9.828l6-6V7.414l-6 6v4.172zm0-7l5.394-5.394A3 3 0 0 0 34 7v3.586zM32 41V7a5 5 0 0 1 10 0v19.414l-8 8V41a3 3 0 0 0 6 0v-8.757l2-2V41a5 5 0 0 1-10 0z"></path></g></svg><span class="TreatmentTypeButton--name--0afc5e" style="margin-left: 32%;">Nails</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div style=" width: 10% ; margin-left:16px" ; class="card">
                    <div class="card-body">
                        <div>
                            <div class="TreatmentTypeButton--panel--7758a2 TreatmentTypeButton--active--3163ec" data-treatment-type-id="6">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" style="
    margin-left: 18%;
"><g fill="none" fill-rule="evenodd"><path d="M0 0h48v48H0z"></path>
                                    <path fill="#999" fill-rule="nonzero" d="M30 40.078c-2.136.281-4.136.422-6 .422-7.552 0-12.2-1.194-14.681-3.52C7.405 35.187 7 33.442 7 30v-4a3 3 0 0 1 3-3h15.766c-.14.71-.224 1.375-.254 2H10a1 1 0 0 0-1 1v4c0 2.926.301 4.222 1.686 5.52 2.03 1.903 6.222 2.98 13.314 2.98 1.848 0 3.848-.146 6-.44v2.018z"></path><path fill="#999" fill-rule="nonzero" d="M38.236 23.01A3 3 0 0 1 41 26v4c0 4.87-2.385 8.174-7 9.736v1.602a3 3 0 0 1-2.491 2.957c-2.73.47-5.233.705-7.509.705-2.276 0-4.779-.235-7.509-.705a3 3 0 0 1-2.484-2.747c.696.17 1.44.316 2.233.44a.998.998 0 0 0 .59.336c2.624.451 5.014.676 7.17.676 2.156 0 4.546-.225 7.17-.676a1 1 0 0 0 .83-.986v-3.092l.725-.208C36.968 36.826 39 34.214 39 30v-4a1 1 0 0 0-.507-.87c-.023-.66-.11-1.366-.257-2.12zM23 16c1.442 0 2.337-.847 3.324-2.822.142-.283.657-1.377.782-1.625.11-.22.625-1.315.78-1.625.374-.747.759-1.39 1.174-1.928H33c-1.442 0-2.337.847-3.324 2.822-.142.283-.657 1.377-.782 1.625-.11.22-.625 1.315-.78 1.625C26.821 16.654 25.4 18 23 18H8A6 6 0 1 1 8 6h32a6 6 0 1 1 0 12h-3.335a51.663 51.663 0 0 0-.861-2H40a4 4 0 1 0 0-8H8a4 4 0 1 0 0 8h15z"></path><path fill="#999" fill-rule="nonzero" d="M31.106 14.553a1 1 0 0 1 1.788 0C35.292 19.348 36.5 22.972 36.5 25.5c0 2.886-1.614 4.5-4.5 4.5-5.85 0-5.85-5.534-.894-15.447zM32 28c1.781 0 2.5-.719 2.5-2.5 0-1.837-.83-4.586-2.501-8.2C28.536 24.74 28.774 28 32 28z"></path></g></svg><span class="TreatmentTypeButton--name--0afc5e" style="margin-left: -2%;">Hair removal</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div style=" width: 10% ; margin-left:16px" ; class="card">
                    <div class="card-body">
                        <div>
                            <div class="TreatmentTypeButton--panel--7758a2 TreatmentTypeButton--active--3163ec" data-treatment-type-id="6">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" style="
    margin-left: 18%;
"><g fill="none" fill-rule="evenodd"><path d="M0 0h48v48H0z"></path><path fill="#999" fill-rule="nonzero" d="M25 35.974c10.029-.52 18-8.816 18-18.974v-1h-2v1c0 9.389-7.611 17-17 17-8.686 0-16.044-6.581-17.006-15.112C6.947 18.49 7.477 18 8 18c1.676 0 2.96-1.022 3.138-2.908C12.042 8.782 17.513 4 24 4c7.18 0 13 5.82 13 13s-5.82 13-13 13a13.005 13.005 0 0 1-12.454-9.259l-.287-.957-1.916.574.287.958A15.005 15.005 0 0 0 24 32c8.284 0 15-6.716 15-15 0-8.284-6.716-15-15-15-7.486 0-13.797 5.516-14.848 12.856C9.072 15.702 8.696 16 8 16c-1.638 0-3.19 1.437-2.993 3.117C6.045 28.325 13.737 35.49 23 35.974V39a3 3 0 0 0 3 3h1c1.849 0 3.776.225 5.257.595.438.11.82.228 1.13.348-.468.158-1.086.311-1.821.45-2.036.38-4.75.607-7.566.607s-5.53-.226-7.566-.608a13.962 13.962 0 0 1-1.82-.449c.31-.12.691-.238 1.129-.348C17.223 42.225 19.15 42 21 42v-2c-4.664 0-9 1.084-9 3 0 2.002 5.32 3 12 3s12-.998 12-3c0-1.916-4.336-3-9-3h-1a1 1 0 0 1-1-1v-3.026z"></path><path fill="#999" fill-rule="nonzero" d="M26.447 10.658l-7.789 3.895.895 1.789 7.789-3.895zM31.447 13.658l-13.789 6.895.895 1.789 13.789-6.895z"></path></g></svg><span class="TreatmentTypeButton--name--0afc5e" style="margin-left: 32%;">Face</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div style=" width: 10% ; margin-left:16px" ; class="card">
                    <div class="card-body">
                        <div>
                            <div class="TreatmentTypeButton--panel--7758a2 TreatmentTypeButton--active--3163ec" data-treatment-type-id="6">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" style="
    margin-left: 18%;
"><g fill="none" fill-rule="evenodd"><path d="M0 0h48v48H0z"></path><path fill="#999" fill-rule="nonzero" d="M6.099 23.442c.219 3.482.802 9.536 1.749 18.128a1 1 0 0 0 .743.859c1.472.38 2.941.571 4.409.571s2.937-.19 4.409-.571a1 1 0 0 0 .743-.859C19.383 30.396 20 23.515 20 21c0-2.269-1.456-4.307-4.514-6.143l-.451-.27-.6-9.587H17.5a1 1 0 0 1 0 2h-.936l.402 6.421C20.279 15.531 22 18.066 22 21c0 2.273-.466 7.772-1.4 16.544C22.778 38.933 26.456 40 31 40c9.527 0 12.5-1.022 12.5-3 0-1.884-4.231-4-9.5-4-3.05 0-8.954.482-11.01.914.073-.718.142-1.408.207-2.07.932-.156 2.209-.308 3.598-.44C25.573 30.548 25 29.384 25 28c0-2.765 3.438-5 9-5 2.333 0 4-.889 4-2 0-1.26-1.481-2-5-2-1.755 0-3.258.31-4.303.832-.814.407-1.197.86-1.197 1.168 0 .3.139.636.451 1.014-.666.256-1.275.558-1.821.9-.413-.61-.63-1.248-.63-1.914 0-2.183 2.784-3.744 6.54-3.971.063-.701.215-1.36.532-2.15.647-1.62 1.847-3.168 3.834-4.67l1.07 1.67.124-.079c-2.406 1.804-3.31 3.394-3.538 5.167 3.446-.222 5.337-1.563 6.12-3.797.583-1.668.537-3.727.053-6.035l-1.078.163C32.03 8.366 30 9.672 30 15h-2c0-3.645 1.176-6.071 3.488-7.557 1.714-1.102 3.44-1.533 7.372-2.123 1.175-.177 1.443-.218 1.976-.306a1 1 0 0 1 1.134.743c.754 3.017.916 5.738.099 8.073-.663 1.894-1.926 3.316-3.813 4.185C39.396 18.672 40 19.659 40 21c0 1.089-.492 1.976-1.31 2.635 3.061.948 4.81 2.89 4.81 5.365 0 .825-.054 1.445-.249 2.074a14.65 14.65 0 0 0-1.85-.833c.076-.35.099-.73.099-1.241 0-2.246-2.572-4-7.5-4-4.592 0-7 1.565-7 3 0 1.753 1.726 3 7 3 6.231 0 11.5 2.634 11.5 6 0 3.663-3.89 5-14.5 5-4.395 0-8.101-.937-10.633-2.281l-.227 2.07a3 3 0 0 1-2.23 2.576A19.527 19.527 0 0 1 13 45c-1.638 0-3.276-.212-4.91-.635a3 3 0 0 1-2.23-2.576C4.62 30.526 4 23.62 4 21c0-2.934 1.72-5.468 5.034-7.579L9.436 7H8.5a1 1 0 1 1 0-2h3.064l-.599 9.587-.45.27C7.455 16.693 6 18.731 6 21l.003.348C6.813 21.11 7.811 21 9 21c1.417 0 2.383.276 4.371 1.072 1.762.704 2.546.928 3.629.928v2c-1.417 0-2.383-.276-4.371-1.072C10.867 23.224 10.083 23 9 23c-1.364 0-2.333.166-2.901.442z"></path></g></svg><span class="TreatmentTypeButton--name--0afc5e" style="margin-left: 15%;">Massage</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <h1 style="color:#908484;
    margin: 12px 0;font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px; font-family:numans;
    margin-top: 15%;
">
                                <strong>BROWSER SERVICES</strong>
                            </h1>
                            <p style="color:#c3bcbc; font-family:numans">Not what you were looking for? </p>
                        </div>
                    </div>
                </div>
            </div>

        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1 style="color:#908484;
   font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px; font-family:numans;
    padding:22px;
">
                        <strong>Venue Services </strong>
                    </h1>


                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5">

                    <span style="color: #cb6; margin-right:5px; font-size:53px">5.0</span>
                    <span style="color: #cb6; font-size:28px" class="fa fa-star checked"></span>
                    <span style="color: #cb6; font-size:28px" class="fa fa-star checked"></span>
                    <span style="color: #cb6; font-size:28px" class="fa fa-star checked"></span>
                    <span style="color: #cb6; font-size:28px" class="fa fa-star checked"></span>
                    <span style="color: #cb6; font-size:28px" class="fa fa-star checked"></span>

                </div>
                <div class="col-md-4">
                    <div style="font-size: 16px;
    line-height: 83px;
    margin-bottom: 0; font-family:numans">
                        Ambience1  <span style="margin-left:7%"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div style="font-size: 16px;
    line-height: 83px;
    margin-bottom: 0; font-family:numans">
                        Ambience2  <span style="margin-left:7%"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                    </div>
                </div>

            </div>


        </div>
        <hr style="
    width: 45% !important;
    margin-left: 44%;
" />
        <div class="container">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-4">
                    <div style="font-size: 16px;
    line-height: 83px;
    margin-bottom: 0; font-family:numans">
                        Ambience3  <span style="margin-left:7%"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div style="font-size: 16px;
    line-height: 83px;
    margin-bottom: 0; font-family:numans">
                        Ambience4  <span style="margin-left:7%"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 4%;" class="container">
            <img src="~/Images/line.png" />
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-5">


                    <div class="card" style="width: 37rem;">
                        <div class="card-body shadow bg-white rounded" style="padding: 9%;">
                            <h5 style="font-family:numans" class="card-title">Filter by treatment</h5>
                            <br />
                            <select id="inputemp" class="form-control">
                                <option>All Treatments</option>
                                <option>Number 1</option>
                                <option>Sample </option>
                                <option>Treatment</option>
                                <option>Products</option>
                            </select>
                            <br />
                            <h6 class="card-subtitle mb-2 text-muted">Filter by rating</h6>
                            <br />

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value=""><span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                                    <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                                    <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                                    <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                                    <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                                </label>
                            </div>

                            <br />

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value=""><span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                                    <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                                    <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                                    <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                                    <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                                </label>
                            </div>
                            <br />

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value=""><span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                                    <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                                    <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                                    <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                                    <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <p style="font-family:numans">
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <br />

                        Loved my facial and Robyn was amazing!
                    </p>
                    <br />
                    <p style="color:#808080; font-family:numans">Usama<span style="color:#808080"> . 11 Hours ago </span></p>
                    <hr />
                    <p style="font-family:numans;line-height: 24px;
    margin-bottom: 12px;">
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>

                        <br />Loved my facial and Robyn was amazing!
                    </p>
                    <br />
                    <p style="color:#808080; font-family:numans">Usama<span style="color:#808080"> . 11 Hours ago </span></p> <hr />
                    <p style="font-family:numans ;line-height: 24px;
    margin-bottom: 12px;">
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>
                        <span style="color: #cb6; font-size:18px" class="fa fa-star checked"></span>

                        <br />The spa and the treatment itself was great. I would highly recommend this spa for a nice and relaxing day. The staff were kind and happy to answer any questions. Parking was available outside on the street for £1.30 per hour for up to 4 hours. There was a jacuzzi but not an actual pool, which was fine for me as someone who doesn't really swim anyway. All in all it was a great experiencne I recommend getting a smoothie at the end. I generally don't enjoy smoothies but I loved the berry burst
                    </p>
                    <br />
                    <p style="color:#808080; font-family:numans">Usama<span style="color:#808080"> . 11 Hours ago </span></p> <hr />

                </div>

            </div>
        </div>
        <div class="container">

            <h3> About</h3>
            <img src="~/Images/map.PNG" />

        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5 style="color:grey; font-family:numans">
                        For expert cuts, creative colour and a service like no other, MD Beauty Lounge in Glasgow is your new go-to for all your hairdressing needs for both men and women.

                        A bright, airy modern and beautifully designed space, only a 7-minute walk from Charing Cross station, the ideal place for you to while away a few hours.
                    </h5>
                    <br />
                    <h5 style="color:grey; font-family:numans">
                        For expert cuts, creative colour and a service like no other, MD Beauty Lounge in Glasgow is your new go-to for all your hairdressing needs for both men and women.

                        A bright, airy modern and beautifully designed space, only a 7-minute walk from Charing Cross station, the ideal place for you to while away a few hours.
                    </h5>

                </div>
                <div class="col-md-6">
                    <p style="font-family:numans; color:dimgrey">Monday <span style="margin-left:48%"></span> 10Am-5PM</span></p>
                    <p style="font-family:numans; color:dimgrey">Tuesday<span style="margin-left:48%"> 10Am-5PM</span></p>
                    <p style="font-family:numans; color:dimgrey">Wednesday<span style="margin-left:44%"> 10Am-5PM</span></p>
                    <p style="font-family:numans; color:dimgrey">Thursday<span style="margin-left:47%"> 10Am-5PM</span></p>
                    <p style="font-family:numans; color:dimgrey">Friday<span style="margin-left:52%"> 10Am-5PM</span></p>
                    <p style="font-family:numans; color:dimgrey">Saturday<span style="margin-left:49%">Closed</span></p>
                    <p style="font-family:numans; color:dimgrey">Sunday<span style="margin-left:51%"> Closed</span></p>
                </div>
            </div>

        </div>

        <br />
        <br />


        </div>
    </div>


        <script>

            $('.carousel[data-type="multi"] .item').each(function () {
                var next = $(this).next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));

                for (var i = 0; i < 2; i++) {
                    next = next.next();
                    if (!next.length) {
                        next = $(this).siblings(':first');
                    }

                    next.children(':first-child').clone().appendTo($(this));
                }
            });
        </script>
        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/AngularFiles/businessprofile.js"></script>
        <script>
            jQuery(function ($) {
                $('#swapFire').on('click', function () {
                    var $el = $(this),
                        textNode = this.lastChild;
                    $el.find('span').toggleClass('glyphicon-fire glyphicon-tint');
                    textNode.nodeValue = ' Selec' + ($el.hasClass('showFire') ? 't' : 'ted')
                    $el.toggleClass('showFire');
                });
            });
        </script>

        @{
            Html.RenderPartial("_Footer");
        }
