
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Api</title>
    <meta charset="utf-8">
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="jumbotron text-center">
        <h1>Customer Profile</h1>
        </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>Venues</h2>
                <div ng-app="myapp">
                    <div ng-controller="app2Controller">
                        name :  {{venue.venues.venueName}}
                        @*{{customer.venues}}*@
                        <h3>Address</h3>
                        {{venue.venues.address}}
                        {{venue.venues.city.cityName}}
                        <h3>Introduction</h3>
                        {{venue.venues.introduction}}
                        @*<ul ng-repeat="v in venue.venueServices">
                                <li>{{v.id}}</li>
                                <li>{{v.subCategories}}</li>
                                <li>{{v.id}}</li>
                            </ul>*@
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="cinqueterre.jpg" class="rounded" alt="Cinque Terre">
            </div>
        </div>

    </div>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/AngularFiles/businessprofile.js"></script>
